
body {
    align-items: center;
    background-color: black; 
    color:#ccc;
}

.font-nav-top {
    color: wheat;
}

.img-welcome {

    height: 400px;
    background: url('../images/welcome.jpg') no-repeat center center/cover; 
    margin-bottom: 1em;
}

.footer {
    margin-top: 3em;
    margin-left: 1em;
}

.socialIcons a {
    margin: 1em;
    margin-left: 0em;
}

.form-contact {
    width: 26em;
    padding: 3em;
}
